
html,body {
	background-color: black;
	height:100%;
	font-family: "Press Start 2P", sans-serif;
}
.masthead {
	height:100%;
}
.container {
	height:100%;
}

#trumpvswrapper {
	height:100%;
	font-family: "Press Start 2P", sans-serif;
	background-color: black;
	color: white;
	padding-top: 54px;
	background-image:url("https://i.imgur.com/Wsn03Yf.png");
	background-position:center 54px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
}
.card {
	background-color: rgba(0,0,0,.6);
	padding-top: 20px;
	padding-bottom:30px;
}
.header-centered {
	margin: auto;
	max-width: 410px;
	max-height: 135px;
	text-align:center;
}
#header-image {
	margin-top:12px;
	width:66%;
	float:left;
	max-height:125px;
	max-width:275px;
	vertical-align:middle;
}
#header-gif {
	float:left;
	width:33%;
	margin-top:11px;
}
.btn-primary {
	margin-top:-20px;
	margin-bottom:100px;
	padding: 20px;
	box-shadow: 0 3px 0 0 #007299;
	border-radius: 45px;
}
p {
	font-size: .75em;
}
h3 {
	font-size: 1.5em;
}